
h1 {color: #f3c412;}
h3 {color: #42413D;}
p {color: #959492;}
a:linked {color: #42414D;}
a:visited {color: #959492;}
a:hover {color: white; background-color: #F3C412; text-decoration: underline;font-weight: bold;}
a:active {background-color: #71635A;}




